<h1>Frequently Asked Questions</h1>
<br>
<h5>What can be done with this tool?</h5>
<p>
    The BMT allows to compare two BoK-annotated resources.
</p>
<br>
<h5>What is a BoK-annotated resource?</h5>
<p>
    All resources created with UCGIS tools (i.e., occupational profiles, job offers, educational offers) are
    automatically annotated when created.
    <br />
    Any other file following the <a
        href="https://ucgis-tools.web.app/assets/manuals/BoKAnnotationGuidelines.pdf"
        target="_blank" rel=""> Annotation Guidelines </a> can also be understood by the BMT and can be used for
    comparison.
</p>
<br>
<h5>What examples of a comparison can be done?</h5>
<p>
    For example, a university could compare an academic study program with an occupational profile, to discover how
    much of
    the knowledge required for the occupational profile is covered by the study program - and possibly adjust the study
    program to remedy missing knowledge. Or, a graduate could compare a job offer with his graduate school program, to
    discover which knowledge he’s missing, and determine a VET course to complement this knowledge. Or, one could
    annotate a
    pdf file according to the guidelines (for example, a scientific article) and compare it with another resource (for
    example, a course described in the CDT tool), to determine suitability of the article to serve as reading
    assignment.</p>
<br>
