.custom-file-label:after {
    color: white;
    background-color: #324d55;
}

.btn-pill {
    margin: 5px;
}

.btn-pill.fields {
    margin: 2px;
    pointer-events: none;
}

.btn-pill.skills {
    margin: 2px;
    pointer-events: none;
    display: block;
}

.ma {
    margin: auto;
}

.row {
    margin-left: inherit;
    margin-right: inherit;
}

.btn-pill a {
    color: #faf9f8 !important;
}

.pagination>.page-item>.page-link,
.pagination>.page-item>span {
    border: 0;
    border-radius: 25px !important;
    transition: all .3s;
    padding: 0px;
    margin: 0 3px;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
}

.pagination>.page-item>.page-link:hover,
.pagination>.page-item>.page-link:focus,
.pagination>.page-item>span:hover,
.pagination>.page-item>span:focus {
    color: #999999;
    background-color: #1b7fb626;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>span {
    color: #999999;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
    background-color: #324d55;
    border-color: rgb(9, 42, 59);
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(9, 42, 59, 0.14), 0 1px 10px 0 rgba(9, 42, 59, 0.12), 0 2px 4px -1px rgba(9, 42, 59, 0.2);
}

.btn-selected {
    border-color: #324d55;
}

.row-no-padding {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

h5 strong {
    font-size: 1rem;
}

.bolder {
    font-weight: bolder;
}

.text-lastupdated {
    font-size: small;
    font-weight: bolder;
    color: #73818f !important;
}

.inline {
    display: inline-block;
    margin-left: 1em;
    //  margin-top: 1em;
}

#bokModal a {
    color: #1b8eb7 !important;
    cursor: pointer !important;
}

#bokModal button a {
    color: #fff !important;
}

.text-small {
    font-size: x-small;
}

.btn-xs {
    padding: 0;
    line-height: 1;
    padding-right: 8px;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

.col-0padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}